<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<header>

		<nav>
			<ul>
				<li><a href="{{ url_for('index') }}">Главная</a></li>
				<li><a href="{{ url_for('register') }}">Регистрация </a></li>
			</ul>
		</nav>
	</header>
	<!-- Добавьте больше статей здесь -->
</div>
	<main>
		{% block content %}

		{% endblock %}
	</main>

<!--	<footer>-->
<!--		<p>&copy; 2023 Мой блог</p>-->
<!--	</footer>-->
</body>
</html>