{% extends "base.html" %}

{% block content %}
  <div class="articles">
	<h2>Последние статьи</h2>
	<div class="article">
		<h3>Как путешествовать, не тратя много денег</h3>
		<p>Путешествия могут быть дорогими, но это не обязательно должно быть так. В этой статье я расскажу вам, как сэкономить на путешествиях и получить максимум удовольствия от путешествия.</p>
		<a href="#">Читать далее</a>
	</div>
	<div class="article">
		<h3>Как научиться программировать с нуля</h3>
		<p>Программирование может показаться сложным, но на самом деле это весьма увлекательно. В этой статье я расскажу, с чего начать и как научиться программировать с нуля.</p>
		<a href="#">Читать далее</a>
	</div>
{% endblock %}