{% extends "base.html" %}

{% block content %}
    <div class="article">
  <h1>{{post.title}}</h1>
        <h2>{{post.content}}</h2>
       <h2>{{post.id}}</h2>
{% if post.user_id == user_id %}
<form action="{{ url_for('delete_post', slug=post.slug) }}" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-danger">Удалить пост</button>
</form>
{% endif %}
</div>


<div class="comments">
  <h2>Комментарии</h2>
        {% for comment in post.comm %}
  <div class="comment">
    <span class="comment-author">{{comment.author.name}}</span>
  </div>
  <div class="comment">
    <p>{{comment.content}}</p>
  </div>
    {%endfor%}
  <!-- Здесь может быть больше комментариев -->
</div>

  <h3>Add Comment</h3>
  <form method="post">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.content.label }} {{ form.content }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}