{% extends "base.html" %}

{% block content %}
    <div class="article">
  <h1>{{post.title}}</h1>
        <h2>{{post.content}}</h2>
       <h2>{{post.id}}</h2>
      <h2>поставить лайк </h2>
<!-- Шаблон для кнопок лайк и дислайк -->
<!-- Шаблон для кнопок лайк и дислайк -->
<div class="like-buttons">
  <button class="like-button" data-action="like"><img src="{{ url_for('static', filename='thumbs-up.png') }}" alt="Like"></button>
  <span class="like-count">{{ post.like_count }}</span>
  <button class="like-button" data-action="dislike"><img src="{{ url_for('static', filename='thumbs-down.png') }}" alt="Dislike"></button>
  <span class="dislike-count">{{ post.dislike_count }}</span>
</div>

<!-- Скрипт для обработки нажатий на кнопки и отправки данных на сервер -->
<script>
  const likeButtons = document.querySelectorAll('.like-button');
  likeButtons.forEach(button => {
    button.addEventListener('click', () => {
      const action = button.dataset.action;
      const postId = '{{ post.id }}'; // здесь нужно передать ID поста, для которого нажата кнопка
      const url = `/like/${postId}/${action}`; // формируем URL для отправки запроса
      fetch(url)
        .then(response => response.json())
        .then(data => {
          console.log(data);
          // обновляем информацию о количестве лайков и дизлайков на странице
          const likeCount = document.querySelector('.like-count');
          const dislikeCount = document.querySelector('.dislike-count');
          likeCount.textContent = data.like_count;
          dislikeCount.textContent = data.dislike_count;
        })
        .catch(error => console.error(error));
    });
  });
</script>


     {% if post.user_id == user_id %}
<form action="{{ url_for('delete_post', slug=post.slug) }}" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-danger">Удалить пост</button>
</form>
{% endif %}
</div>


<div class="comments">
  <h2>Комментарии</h2>
        {% for comment in post.comm %}
  <div class="comment">
    <span class="comment-author">{{comment.author.name}}</span>
  </div>
  <div class="comment">
    <p>{{comment.content}}</p>
  </div>
     {% if comment.user_id == user_id %}
        <form action="{{ url_for('delete_comment', id=comment.id, slug=post.slug) }}" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger">Удалить коммент</button>
</form>
        {% endif %}
    {%endfor%}
  <!-- Здесь может быть больше комментариев -->
</div>

  <h3>Add Comment</h3>
  <form method="post">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.content.label }} {{ form.content }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}