{% extends "base.html" %}

{% block content %}
    <div class="article">
  <h1>{{post.title}}</h1>
        <h2>{{post.content}}</h2>
       <h2>{{post.id}}</h2>
</div>


<div class="comments">
  <h2>Комментарии</h2>
        {% for comment in post.comm %}
  <div class="comment">
    <span class="comment-author">{{comment.author.name}}</span>
  </div>
  <div class="comment">
    <p>{{comment.content}}</p>
  </div>
    {%endfor%}
  <!-- Здесь может быть больше комментариев -->
</div>

  <h3>Add Comment</h3>
  <form method="post">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.body.label }} {{ form.body }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}