 {% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<table border="0" class="profile-table">
	<tr><td valign="top">
		{% if current_user.avatar == None%}
<!--		тут будет дефолтная ава-->
		<div class="profile-ava"><img src="https://www.meme-arsenal.com/memes/9deabcb50a53c324b3a4981528215040.jpg" width="250" height="250">></div>
		{%else%}
<!--кастомная ава юзера		-->
		<div class="profile-ava"><img src="{{ url_for('userava') }}"></div>
		{% endif %}
		<div class="profile-load">
		<form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
			<p><input type="file" name="file">
			<p><input type="submit" value="Загрузить">
		</form>
		</div>
	</td>
	<td valign="top" class="profile-panel">
		<p><a href="{{url_for('logout')}}">Выйти из профиля</a>
		<ul class="profile-info">
		<li>{{ current_user.name}}</li>
		<li>{{ current_user.email}}</li>
		</ul>
	</td></tr>
</table>
{% endblock %}