 {% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<table border="0" class="profile-table">
	<tr><td valign="top">
		<div class="profile-ava"><img src="{{ url_for('avatar', user_id=current_user.id) }}"  width="250" height="250" alt="Avatar"></div>
		<div class="profile-load">
		<form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
			<p><input type="file" name="file">
			<p><input type="submit" value="Загрузить">
		</form>
		</div>
	</td>
	<td valign="top" class="profile-panel">
		<ul class="profile-info">
		<li>имя:{{ current_user.name}}</li>
		<li>email:{{ current_user.email}}</li>
		<li>количество постов:{{ count_user_posts(user_id)}}</li>
		</ul>
	</td></tr>
</table>
{% endblock %}